.mgt0{margin-top:0px!important;}
.mgt2{margin-top:2px!important;}
.mgt3{margin-top:3px!important;}
.mgt5{margin-top:5px!important;}
.mgt10{margin-top:10px!important;}
.mgt15{margin-top:15px!important;}
.mgt20{margin-top:20px!important;}
.mgt25{margin-top:25px!important;}
.mgt30{margin-top:30px!important;}
.mgt40{margin-top:40px!important;}
.mgt45{margin-top:45px!important;}
.mgt50{margin-top:50px!important;}
.mgt60{margin-top:60px!important;}
.mgt70{margin-top:70px!important;}
.mgt80{margin-top:80px!important;}
.mgr5{margin-right:5px!important;}
.mgr10{margin-right:10px!important;}
.mgr15{margin-right:15px!important;}
.mgr20{margin-right:20px!important;}
.mgb0{margin-bottom:0px!important;}
.mgb1{margin-bottom:1px!important;}
.mgb3{margin-bottom:3px!important;}
.mgb5{margin-bottom:5px!important;}
.mgb10{margin-bottom:10px!important;}
.mgb15{margin-bottom:15px!important;}
.mgb20{margin-bottom:20px!important;}
.mgb30{margin-bottom:30px!important;}
.mgb35{margin-bottom:35px!important;}
.mgb40{margin-bottom:40px!important;}
.mgb50{margin-bottom:50px!important;}
.mgb60{margin-bottom:60px!important;}
.mgb70{margin-bottom:70px!important;}
.mgb90{margin-bottom:90px!important;}
.mgl5{margin-left:5px!important;}
.mgl10{margin-left:10px!important;}
.mgl15{margin-left:15px!important;}
.mgl20{margin-left:20px!important;}
.mgl25{margin-left:25px!important;}
.mgl30{margin-left:30px!important;}
.pdt10{padding-top:10px!important;}
.pdt20{padding-top:20px!important;}
.pdt50{padding-top:50px!important;}
.pdr0{padding-right:0px!important;}
.pdr1{padding-right:1px!important;}
.pdr3{padding-right:3px!important;}
.pdr5{padding-right:5px!important;}
.pdr10{padding-right:10px!important;}
.pdr15{padding-right:15px!important;}
.pdr20{padding-right:20px!important;}
.pdr25{padding-right:25px!important;}
.pdr30{padding-right:30px!important;}
.pdb0{padding-bottom:0px!important;}
.pdb10{padding-bottom:10px!important;}
.pdb15{padding-bottom:15px!important;}
.pdb20{padding-bottom:20px!important;}
.pdl0{padding-left:0px!important;}
.pdl1{padding-left:1px!important;}
.pdl5{padding-left:5px!important;}
.pdl10{padding-left:10px!important;}
.pdl15{padding-left:15px!important;}
.pdl20{padding-left:20px!important;}
.pdl30{padding-left:30px!important;}
//font
.font11{font-size:11px!important;}
.font12{font-size:12px!important;}
.alignC{text-align: center!important;}
.alignR{text-align: right!important;}
.alignL{text-align: left!important;}
//misc
.hide {display: none!important;}
.show {display: block!important;}
.last{margin:0!important;}
.floatL{float:left;}
.floatR{float:right;}

.z-index10{z-index: 10!important;}
