%h2{style: "color:#333333;margin:0 0 12px;line-height:30px;"} Dear #{ @resource.full_name },
%p Please visit the following link in order to reset the password for your Patentfield user account:
%p{style:"color:#3FADE2;text-decoration:none;"}= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
%p Thank you!
%p
  %span{style: "color:#333333;"} Warm regards,<br>Patentfield Team
